@using Truckrr_Base_App.Web.Areas.Models
@model IEnumerable<VehicleModel>



    <body>
        <div>
        <input type="text" id="myInput" asp-Area="Controller" asp-Controller="VehicleController" placeholder="Search for names.." title="Type in a name">
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg" asp-Area="Controller" asp-Controller="VehicleController">Add Vehicle</button>
        </div>
<table id="VehicleTable" class="table table-striped" width="100%" cellspacing="0">  
</table>
    </body>
